@font-face {
    font-family: 'CheapProFonts Serif Pro';
    src: url('CheapProFontsSerifPro-Bold.woff2') format('woff2'),
        url('CheapProFontsSerifPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CheapProFonts Serif Pro';
    src: url('CheapProFontsSerifPro-Regular.woff2') format('woff2'),
        url('CheapProFontsSerifPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

